@font-face {
    font-family: wow;
    src: url(./font/HeyWow-Book.woff2);
}
@font-face {
    font-family: wob;
    src: url(./font/HeyWow-Bold.woff2);
}
@font-face {
    font-family: wsw;
    src: url(./font/HeyWow-SemiBold.woff2);
}


.wsw{
    font-family: wsw;
}
.wob{
    font-family: wob;
}
.wow{
    font-family: wow;
}

#nav{
   transform: translate(-50%,-130%);
   
}

.flower{
    transform-origin: 50% 90%;
}